{% extends 'flatpages/default.html'%}

{% block title %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Записаться на прием</title>
{% endblock title %}

{% block content %}
    <h1>Записаться на прием</h1>
    <form action="{% url 'appointments:make_appointment' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="client_name"> Ваше имя </label>
        <input type="text" name="client_name"><br>
        <label for="message"> Причина обращения? Опишите кратко. </label>
        <input type="text" name="message"><br>
        <label for="date"> Выберите желаемое время </label>
        <input type="date" name="date">.<br>
        <input type="submit">
    </form>
{% endblock content %}

