{% extends 'flatpages/default.html'%}

<head>
    <meta charset="UTF-8">
    <title>Логин</title>
    <style>
        body {
            background-color: #f0f0f0; /* Серый оттенок */
        }
    </style>
</head>
<body>
    {% block content %}
    <div class="container-center" style="padding-top: 80px;">
        <h2>Войти в систему</h2>
        <form method="post" action="{% url 'login' %}" style="max-width: 300px; margin: auto; text-align: center;">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>

            <input type="submit" value="Войти"><br><br>
            <button><a href="/sign/signup">Регистрация</a></button>
        </form>
    </div>
    {% endblock content%}
</body>





